<p>Fill out this page to post new content.</p>

<form action="/posts" method="post">
    <p>
        <label for="title">Title/Description</label>
        <input type="text" name="title" placeholder="Title/Description">
    </p>
    <p>
        <label for="user">Name:</label>
        <input type="text" name="user" placeholder="Enter your name">
    </p>
    <p>
        <label for="link">Link</label>
        <input type="text" name="link" placeholder="paste url link here">
    </p>
    <input type="submit">

</form>
</div>
</div>