<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liverpool Links</title>
</head>

<body>
    <header>
        <h1>Liverpool Links</h1>
        <nav>
            <a class="nav" href="/">Home</a>
            <a class="nav" href="/news">News</a>
            <a class="nav" href="/schedule">Videos</a>
        </nav>
    </header>

    {{{body}}}

</body>

</html>