<table class="striped">
    <tr>
        <th>Position</th>
        <th>Team</th>
        <th>Games Played</th>
        <th>Points</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
    </tr>
</table>

<script src="script.js"></script>