<h1>Videos and Highlights</h1>
<p>
    <a href="/videos/new">Create New</a>
</p>
<ol>
    {{#each videos}}
    <li>
        <p>{{this.embed_link}}</p>
        <p>{{this.user}} posted at: {{this.createdAt}}</p>

    </li>
    {{/each}}
</ol>