<h2>Highlights</h2>
<p>
    <a href="/videos/new">Create New</a>
</p>

{{#each videos}}
<div class="hoverable card-panel">{{description}}
    <a target="_blank" href="{{link}}">View</a>
</div>
{{/each}}