<p>Fill out this page to post new content.</p>

<form <form action="/videos" method="POST">
    <p>
        <label for="embed_link">Link to embed:</label>
        <input type="text" name="embed_link" placeholder="Paste Link Here">
    </p>
    <p>
        <label for="user">Username:</label>
        <input type="text" name="user" placeholder="Enter your name">
    </p>
    <input type="submit">

</form>